# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual envs
.venv/
venv/
ENV/
env/

# Build / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# macOS
.DS_Store

# Editors
.vscode/
.idea/

# Home Assistant dev stuff
.storage/
home-assistant_v2.db*
